{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/dashboard_all.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/dashboard_style.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap" rel="stylesheet" />
</head>

<body>
    <div class="page d-flex">
        <video autoplay loop muted width="320" height="240">
            <source src="{% static 'dashboard.mp4' %}" type=" video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="sidebar bg-theme p-20 p-relative">
            {% if user_value %}
            <div>
                <img style="width: 80px; height: 80px; margin-left: 25%;" class="rad-half mb-10"
                    src="{{ user_value.uploaded_image.url }}" alt="{{ user_value.username }}'s Image" height="50%"
                    width="50%">
            </div>
            <h3 class="p-relative txt-c mt-0">{{ user_value.username }}</h3>
            {% endif %}

            <ul>
                <li>
                    <a class="active d-flex align-center fs-14 rad-6 p-10"
                        href="{% url 'profile' table_name='user_data_image' %}">
                        <i class="fa-regular fa-user fa-fw"></i>
                        <span>Profile</span>
                    </a>
                </li>
                <li>
                    <a class="d-flex align-center fs-14 rad-6 p-10"
                        href="{% url 'nutrient_calculator' table_name='user_data_image' %}">
                        <i class="fa-regular fa-credit-card fa-fw"></i>
                        <span>Nutricnt Calculater</span>
                    </a>
                <li>
                <li>
                    <a class="d-flex align-center fs-14 rad-6 p-10"
                        href="{% url 'Fitness_health' table_name='user_data_image' %}">
                        <i class="fa-regular fa-chart-bar fa-fw"></i>
                        <span>Fitness & Health</span>
                    </a>
                </li>
                <li>
                    <a class="d-flex align-center fs-14 rad-6 p-10"
                        href="{% url 'chart' table_name='user_data_image' %}">
                        <i class="fa-regular fa-chart-bar fa-fw"></i>
                        <span>Chart/Graph</span>
                    </a>
                </li>
                <li>
                    <a class="d-flex align-center fs-14 rad-6 p-10"
                        href="{% url 'recent_start' table_name='user_data_image' %}">
                        <i class="fa-solid fa-diagram-project fa-fw"></i>
                        <span>Recent Start</span>
                    </a>
                </li>
                <li>
                    <a class="d-flex align-center fs-14 rad-6 p-10"
                        href="{% url 'settings' table_name='user_data_image' %}">
                        <i class="fa-solid fa-graduation-cap fa-fw"></i>
                        <span>Settings</span>
                    </a>
                </li>
                <li>
                    <a class="d-flex align-center fs-14 rad-6 p-10"
                        href="{% url 'check_benefits' table_name='user_data_image' %}">
                        <i class="fa-regular fa-circle-user fa-fw"></i>
                        <span>Check Benefits</span>
                    </a>
                </li>
                <li>
                    <a class="d-flex align-center fs-14 rad-6 p-10"
                        href="{% url 'reports' table_name='user_data_image' %}">
                        <i class="fa-regular fa-file fa-fw"></i>
                        <span>Reports</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="content w-full">
            <!-- Start Head -->
            <div class="head p-15 between-flex">
                <h1 class="p-relative">Profile</h1>
                <!-- <div class="search p-relative">
                    <input class="p-10" type="search" placeholder="Type A Keyword" />
                </div>
                <div class="icons d-flex align-center">
                    <span class="notification p-relative">
                        <i class="fa-regular fa-bell fa-lg"></i>
                    </span>
                    <img src="{% static 'img/dashboard/avatar.png' %}" alt="" />
                </div> -->
            </div>
            <!-- End Head -->
            <!-- End Head -->

            <div class="profile-page m-20">
                <!-- Start Overview -->
                {% if user_value %}
                <div class="overview mb-20 rad-10 d-flex align-center">
                    <div class="avatar-box txt-c p-20">
                        <img class="rad-half mb-10" src="{{ user_value.uploaded_image.url }}" alt="" />
                        <h3 class="m-0 white-color">{{ user_value.name }}</h3>

                    </div>
                    <div class="info-box w-full txt-c-mobile">
                        <!-- Start Information Row -->
                        <div class="box p-20 d-flex align-center">
                            <h4 class="white-color fs-15 m-0 w-full">General Information</h4>
                            <div class="fs-14">
                                <span class="white-color">Full Name:</span>
                                <span class="c-white">{{ user_value.name }}</span>
                            </div>
                            <div class="fs-14">
                                <span class="white-color">Gender:</span>
                                <span class="c-white">{{ user_value.gender }}</span>
                            </div>
                            <div class="fs-14">
                                <span class="white-color">State:</span>
                                <span class="c-white">{{user_value.state }}</span>
                            </div>
                            <!-- <div class="fs-14">
                                <label>
                                    <input class="toggle-checkbox" type="checkbox" checked />
                                    <div class="toggle-switch"></div>
                                </label>
                            </div> -->
                        </div>
                        <!-- End Information Row -->
                        <!-- Start Information Row -->
                        <div class="box p-20 d-flex align-center">
                            <h4 class="white-color w-full fs-15 m-0">Personal Information</h4>
                            <div class="fs-14">
                                <span class="white-color">Email:</span>
                                <span class="c-white">{{user_value.email}}</span>
                            </div>
                            <div class="fs-14">
                                <span class="white-color">Phone:</span>
                                <span class="c-white">{{user_value.phone}}</span>
                            </div>
                            <div class="fs-14">
                                <span class="white-color">Date Of Birth:</span>
                                <span class="c-white">{{ user_value.dob }}</span>
                            </div>
                            <!-- <div class="fs-14">
                                <label>
                                    <input class="toggle-checkbox" type="checkbox" />
                                    <div class="toggle-switch"></div>
                                </label>
                            </div> -->
                        </div>
                        <!-- End Information Row -->
                        <!-- Start Information Row -->
                        <div class="box p-20 d-flex align-center">
                            <h4 class="white-color w-full fs-15 m-0">Health Information</h4>
                            <div class="fs-14">
                                <span class="white-color">Age:</span>
                                <span class="c-white">{{user_value.age}}</span>
                            </div>
                            <div class="fs-14">
                                <span class="white-color">Height:</span>
                                <span class="c-white">{{user_value.height}}</span>
                            </div>
                            <div class="fs-14">
                                <span class="white-color">Weight:</span>
                                <span class="c-white">{{user_value.weight}}</span>
                            </div>
                            <div class="fs-14">
                                <span class="white-color">Veg Or Non-Veg</span>
                                <span class="c-white">{{user_value.veg_nonveg}}</span>
                            </div>

                        </div>
                        <!-- End Information Row -->
                        <!-- Start Information Row -->
                        <!-- <div class="box p-20 d-flex align-center">
                            <h4 class="white-color w-full fs-15 m-0">Billing Information</h4>
                            <div class="fs-14">
                                <span class="white-color">Payment Method:</span>
                                <span class="c-white">Paypal</span>
                            </div>
                            <div class="fs-14">
                                <span class="white-color">Email:</span>
                                <span class="c-white">email@website.com</span>
                            </div>
                            <div class="fs-14">
                                <span class="white-color">Subscription:</span>
                                <span class="c-white">Monthly</span>
                            </div>
                            <div class="fs-14">
                                <label>
                                    <input class="toggle-checkbox" type="checkbox" />
                                    <div class="toggle-switch"></div>
                                </label>
                            </div>
                        </div> -->
                        <!-- End Information Row -->
                    </div>
                </div>
                <!-- End Overview -->
                {% endif %}
            </div>
        </div>
    </div>
</body>

</html>