{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Heath Insights</title>
  <link rel="stylesheet" href="{% static 'css/style_home.css' %}">
  <link rel="stylesheet" href="{% static 'css/hompage_option.css' %}">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

  <style>
    body {
      margin: 0;
      /* overflow: hidden; */
    }

    video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 112%;
      object-fit: cover;
      z-index: -1;
      /* Place it behind other content */
    }

    /* Hide all video controls */
    video::-webkit-media-controls {
      display: none !important;
    }

    video::-webkit-media-controls-play-button,
    video::-webkit-media-controls-start-playback-button {
      display: none !important;
    }

    /* Hide all video controls in Firefox */
    video::-webkit-media-controls-panel {
      width: 0;
      height: 0;
    }

    /* Hide all video controls in Edge */
    video::-webkit-media-controls-enclosure {
      width: 0;
      height: 0;
    }


    .svg-image {
  width: 100px; /* Adjust the width as needed */
  height: auto; /* Maintain the aspect ratio */
  margin-right: 20px; /* Adjust the spacing between the image and card content */
  float: left; /* Float the image to the left of the card content */
}

  </style>
</head>

<body>
  <!-- partial:index.partial.html -->

  <body>
    <header>
      <!-- <h1 class="logo">Instrument</h1> -->
      <input type="checkbox" class="nav-toggle" id="nav-toggle">
      <nav>
        <ul>

          <li> <a href="/signin" style="color: var(--light);">Sign-In</a></li>
          <li> <a href="/signup" style="color: var(--light);">Sign-Up</a></li>
          <form action="{% url 'logout page' %}" method="post">
            {% csrf_token %} 
          <li> <button type="submit" style="    font-size: 26px;color: var(--light);">Logout</button></li>

        </form>

        </ul>
      </nav>
      <label for="nav-toggle" class="nav-toggle-label">
        <span></span>
      </label>
    </header>

    <!-- Section One -->

    <section class="section-one">
      <!-- <h2 class="header" style="color: #EB1616; font-weight: bold; font-size: 36px; text-align: center; text-transform: uppercase; letter-spacing: 2px;">Health Insights</h2> -->
      <h2 class="header" style="    margin-top: 19%;
      color: #EB1616; font-weight: bold; font-size: 66px; text-align: center; text-transform: uppercase; letter-spacing: 2px; text-shadow: 2px 2px 4px rgba(0,0,0,0.4);">Health Insights</h2>

<h2 class="header" style="
color: #191C24 !important; font-weight: bold; font-size: 26px; text-align: center; text-transform: uppercase; letter-spacing: 2px; text-shadow: 2px 2px 4px rgba(0,0,0,0.4);">Illuminating Wellness through Data Analytics</h2>

      <!-- <p class="section-one-paragraph" style="color: var(--light);text-align: center;"><b></b></p> -->
      <!-- <a href="" class="learn-more-btn">Learn More </a>  -->
    </section>

    <!-- Section Two -->
    <section class="">
      <video autoplay loop muted>
        <source src="{% static 'img/home_video.mp4' %}" type="video/mp4">
      </video>
    </section>

    <!-- Section Three -->
    <section class="section-three">
      <h3 class="font-size: 1.5rem;">In a world increasingly driven by data and technology, we present to you a game-changer in the realm of health and well-being. HealthWatch Insights is not just a project; it's a vision to transform the way we perceive and manage our health.</h3>
  
      <h1>What We Offer:</h1>
    
      <!-- <h3>We enrich human lives through the thoughtful application of design and technology</h3> -->
    </section>

    
    


    <!-- =======================================option start=========================================================== -->

    <div class="container card-row">
      
      <div class="card" style="left: -27%;">
        <div class="border"></div>
        <div class="filter"></div>
        <h2>Personalized Insights:</h2></br>
        <p style="font-size: 19px;color: white;">
          Our advanced algorithms transform your data into meaningful insights. </br>Understand your body better than ever.</p>
        <div class="shadow"></div>
        <div class="backdrop"></div>

      </div>
    
      
      <div class="card" style="right: -27%;">

        <div class="border"></div>
        <div class="filter"></div>
        <h2>Real-time Monitoring:</h2></br>
        <p style="font-size: 19px;color: white;">Stay ahead of potential health issues with our proactive alerts. </br>Receive notifications before they become problems.</p>
        <div class="shadow"></div>
        <div class="backdrop"></div>
      </div>
    
      <div class="card" style="left: -27%;">
        <div class="border"></div>
        <div class="filter"></div>
        <h2>Interactive Health Dashboards</h2></br>
        <p style="font-size: 19px;color: white;">Visualize your progress with interactive graphs and charts. </br>Track your health goals effortlessly.</p>
        <div class="shadow"></div>
        <div class="backdrop"></div>
      </div>
    
      <div class="card" style="right: -27%;">
        <div class="border"></div>
        <div class="filter"></div>
        <h2>Your Personal Health Hub:</h2></br>
        <p style="font-size: 19px;color: white;">Every user gets a personalized portal to manage their health data, set goals, and access valuable resources.</p>
        <div class="shadow"></div>
        <div class="backdrop"></div>
      </div>
    
      <div class="card" style="left: -27%;">
        <div class="border"></div>
        <div class="filter"></div>
        <h2>User Authentication: </h2></br>
        <p style="font-size: 19px;color: white;">Implement strong user authentication mechanisms, including password policies, multi-factor authentication (MFA), and account lockout mechanisms to protect against unauthorized access.
        </p>
        <div class="shadow"></div>
        <div class="backdrop"></div>
      </div>
    
      <div class="card" style="right: -27%;">
        <div class="border"></div>
        <div class="filter"></div>
        <h2>Data Privacy: </h2></br>
        <p style="font-size: 19px;color: white;">Comply with data privacy regulations such as HIPAA (if applicable) to protect user health information.<br> Limit access to sensitive data to authorized personnel only.

        </p>
        <div class="shadow"></div>
        <div class="backdrop"></div>
      </div>
    </div>

    <!-- ==============================================options ends============================================= -->


















    <section class="section-nine">
      <div class="logo-container">
        <svg viewBox="0 0 448 512" width="100" title="address-book">
          <path
            d="M436 160c6.6 0 12-5.4 12-12v-40c0-6.6-5.4-12-12-12h-20V48c0-26.5-21.5-48-48-48H48C21.5 0 0 21.5 0 48v416c0 26.5 21.5 48 48 48h320c26.5 0 48-21.5 48-48v-48h20c6.6 0 12-5.4 12-12v-40c0-6.6-5.4-12-12-12h-20v-64h20c6.6 0 12-5.4 12-12v-40c0-6.6-5.4-12-12-12h-20v-64h20zm-228-32c35.3 0 64 28.7 64 64s-28.7 64-64 64-64-28.7-64-64 28.7-64 64-64zm112 236.8c0 10.6-10 19.2-22.4 19.2H118.4C106 384 96 375.4 96 364.8v-19.2c0-31.8 30.1-57.6 67.2-57.6h5c12.3 5.1 25.7 8 39.8 8s27.6-2.9 39.8-8h5c37.1 0 67.2 25.8 67.2 57.6v19.2z" />
        </svg>
        <svg viewBox="0 0 576 512" width="100" title="trophy">
          <path
            d="M552 64H448V24c0-13.3-10.7-24-24-24H152c-13.3 0-24 10.7-24 24v40H24C10.7 64 0 74.7 0 88v56c0 35.7 22.5 72.4 61.9 100.7 31.5 22.7 69.8 37.1 110 41.7C203.3 338.5 240 360 240 360v72h-48c-35.3 0-64 20.7-64 56v12c0 6.6 5.4 12 12 12h296c6.6 0 12-5.4 12-12v-12c0-35.3-28.7-56-64-56h-48v-72s36.7-21.5 68.1-73.6c40.3-4.6 78.6-19 110-41.7 39.3-28.3 61.9-65 61.9-100.7V88c0-13.3-10.7-24-24-24zM99.3 192.8C74.9 175.2 64 155.6 64 144v-16h64.2c1 32.6 5.8 61.2 12.8 86.2-15.1-5.2-29.2-12.4-41.7-21.4zM512 144c0 16.1-17.7 36.1-35.3 48.8-12.5 9-26.7 16.2-41.8 21.4 7-25 11.8-53.6 12.8-86.2H512v16z" />
        </svg>
        <svg viewBox="0 0 640 512" width="100" title="warehouse">
          <path
            d="M504 352H136.4c-4.4 0-8 3.6-8 8l-.1 48c0 4.4 3.6 8 8 8H504c4.4 0 8-3.6 8-8v-48c0-4.4-3.6-8-8-8zm0 96H136.1c-4.4 0-8 3.6-8 8l-.1 48c0 4.4 3.6 8 8 8h368c4.4 0 8-3.6 8-8v-48c0-4.4-3.6-8-8-8zm0-192H136.6c-4.4 0-8 3.6-8 8l-.1 48c0 4.4 3.6 8 8 8H504c4.4 0 8-3.6 8-8v-48c0-4.4-3.6-8-8-8zm106.5-139L338.4 3.7a48.15 48.15 0 0 0-36.9 0L29.5 117C11.7 124.5 0 141.9 0 161.3V504c0 4.4 3.6 8 8 8h80c4.4 0 8-3.6 8-8V256c0-17.6 14.6-32 32.6-32h382.8c18 0 32.6 14.4 32.6 32v248c0 4.4 3.6 8 8 8h80c4.4 0 8-3.6 8-8V161.3c0-19.4-11.7-36.8-29.5-44.3z" />
        </svg>
      </div>
    </section>

    <section class="section-ten">
      <h3>We'd love to be your partner</h3>
      <a href="Contact" class="learn-more-btn section-ten-btn">Get In Touch</a>
    </section>

  </body>
  <!-- partial -->

</body>

</html>